.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for normal window size */
    gap: 140px; /* Increased gap for more separation between items */
    padding: 20px;
  }
  
  .info-rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 8px 2px rgba(31, 165, 228, 0.952);
    transition: transform 0.3s ease;
    height: 600px;
  }
  
  .info-rectangle:hover {
    transform: scale(1.05); /* Adds a subtle hover effect */
  }
  
  .info-image {
    width: 100%;
    height: 350px; /* Increased height to make the image more square */
    object-fit: cover; /* Ensures the image covers the space proportionally */
    border-radius: 10px;
  }
  
  .info-description {
    text-align: center;
  }
  
  .info-link {
    text-decoration: none; /* Remove default link underline */
    color: inherit; /* Inherit color so that link doesn't change text color */
    display: block; /* Make the link wrap the entire rectangle */
  }
  

  @media screen and (max-width: 1458px) {
    .info-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
      gap: 40px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .info-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
      gap: 40px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .info-grid {
      grid-template-columns: 1fr; /* 1 column for smaller screens */
    }
  }