.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #568259;
}

.logo {
  font-size: 33px;
  font-weight: bold;
  color: #96E6B3; /* Neon blue */
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  color: #CCFCCB;
  cursor: pointer;
  transition: color 0.3s ease;
}

li:hover {
  color: #f80; /* Neon orange */
}

a {
  text-decoration: none;
  color: inherit;
}
